extends ../layouts/main-layout.jade

block title
	title iPad Air Wi-Fi + Cellular 128GB - Silver

block content
	div.goods.clearfix
		div.goods__pics
			div.slideshow
				div.slideshow__display
					img(src="images/slideshow/1.jpg", alt="").slideshow__display-pic
				div.slideshow__slider
					div.slideshow__list-wrap
						ul.slideshow__list
							-var imgs = ['1.jpg', '2.jpg', '3.jpg', '4.jpg']
							each obj, i in imgs
								if i === 0
									li.slideshow__item.active
										a.slideshow__pic(href="")
											img(src="images/slideshow/"+obj, alt="").slideshow__img
								else 
									li.slideshow__item
										a.slideshow__pic(href="")
											img(src="images/slideshow/"+obj, alt="").slideshow__img
					div.slideshow__controls
						a.slideshow__nav-link.prev
						a.slideshow__nav-link.next
		div.goods__description
			div.goods__title
				| iPad Air Wi-Fi + Cellular 128GB - Silver
			-var table = {'Артикул': '42787825', 'Опция': 'включена', 'Цвет': 'серебристый', 'Размер': '1280*1245*90', 'Вес': '200 кг'};
			table.goods__desctable
				each val,key in table
					tr.desctable__row
						td.desctable__cell=key
						td.desctable__cell=val
				each val,key in table
					tr.desctable__row
						td.desctable__cell=key
						td.desctable__cell=val