div.bread-crumbs
	a.bread-crumbs__link(href="/")
		| Главная
	span.arrow &gt;
	a.bread-crumbs__link(href="/")
		| Каталог
	span.arrow &gt;
	a.bread-crumbs__link(href="/")
		| iPad Air Wi-Fi + Cellular 128GB - Silver